<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:housihai="http://oss.housihai.com/schema/reyco"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://oss.housihai.com/schema/reyco
    					http://oss.housihai.com/schema/reyco.xsd">
        
 	<housihai:reyco id="testService" class="com.reyco.tag.core.service.TestService"/>
 	
</beans>
